.form-group{
  position: fixed;
  background-color: rgba(255,255,255,0.13);
  transform: translate(-50%,-50%);
  top: 50vh;
  left: 50vw;
  width: 50%;
  border-radius: 10px;
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 20px rgba(8, 7, 16, 0.182);
  padding: 15px;
}

@media screen and (max-width: 768px) {
  .form-group{
    width: 90%;
  }
  .todo-logo{
    width: auto !important;
    height: 25% !important;
  }
}

.btn-primary{
  margin-top: 1px;
}

.btn-primary:disabled{
  background-color: rgb(35, 113, 209)
}

input.ng-invalid.ng-touched{
  border: 1px solid red;
}

p{
  color: red;
}
.todo-logo{
  border-radius: 7px;
  width: 22%;
  height: auto;
  position: fixed;
  top: 17vh;
  left: 50vw;
  box-shadow: 0 0 20px rgba(8, 7, 16, 0.182);
  transform: translate(-50%,-50%);
}
