.addListButton{
  position: fixed;
  right:    3vw;
  bottom:   5vh;
  width: 128px;
  height: 128px;
  border-radius: 10%;
  background-color: transparent;
  color: rgb(35, 113, 209);
  font-size: 80px;
}

@media screen and (max-width: 768px) {
  .addListButton{
    font-size: 12px;
    width: 75vw;
    left: 12.5%;
    height: 32px;
    bottom:   1vh;
    border-radius: 0;
    background-color:rgb(35, 113, 209);
    color: white;
    font-weight: bolder;
    border-radius: 5px;
    z-index: 110;
  }
  .mobile-list{
    height: 80vh;
    overflow-x: scroll;
  }
  .modal-message{
    bottom: 0;
    right: 25% !important;
    width: 50vw !important;
    text-align: center;
    z-index: 100;
  }
}


.modal-message{
  position: fixed;
  bottom: 25vh;
  right: 2vw;
  width: 10vw;
  text-align: center;
  z-index: 100;
  background: rgba(91, 137, 194, 0.693);
  text-align: center;
  color: rgb(255, 255, 255);
  border-radius: 10px;
}

.fade-out {
  animation: fadeOut ease 2.5s;
  -webkit-animation: fadeOut ease 2.5s;
  -moz-animation: fadeOut ease 2.5s;
  -o-animation: fadeOut ease 2.5s;
  -ms-animation: fadeOut ease 2.5s;
}
@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
}}
